<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963146701166-7koc44evfgk08kt5uhc7nd9vib1kqma2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963146701166-7koc44evfgk08kt5uhc7nd9vib1kqma2</string>
	<key>API_KEY</key>
	<string>AIzaSyA71-S0K7zFFR_tizIaVQRuUCrzD5JZ8bc</string>
	<key>GCM_SENDER_ID</key>
	<string>963146701166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>task-manager-1828c</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-1828c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963146701166:ios:4eba8f2d1b47fce8f7897f</string>
</dict>
</plist>